        
    
              </div>
              
            </div>
          </div>

        </main>

	<footer>
          <div class="row d-flex title-footer justify-content-center align-items-center">
            <h1 class="text-center"> P
              <svg viewbox="0 0 10 10">
                <circle class="smile" cx="5" cy="5" r="4" stroke-dashoffset="-.5" stroke-dasharray="11.5,13.6327" />
                <circle class="eyes" cx="5" cy="5" r="4" stroke-dashoffset="-15.5" stroke-dasharray="0,6.6327,0,17.5" />
              </svg>
              sitiveGasms </h1>
          </div>
          <div class="row d-flex main-footer  px-3">
            <div class="col-lg-3 col-12 hyperlinks first side-tags"> 

              <div class="title-lower">ABOUT US<br></div><span class="info">  Eos sint repudiandae error delectus ex impedit laudantium inventore animi quia, maiores dolorem itaque aspernatur necessitatibus, temporibus nisi minima vitae odio? Similique, numquam cupiditate? <br></span>
              <br>
              <div class="col-12 social-buttons"> 
                <a href="#/" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                  <span class="social-button__inner">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                </a>
                <a href="#/" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                  <span class="social-button__inner">
                    <i class="fab fa-linkedin-in"></i>
                  </span>
                </a>
                <a href="#/" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
                  <span class="social-button__inner">
                    <i class="fab fa-instagram"></i>
                  </span>
                </a>
                
              </div>
              
              <hr class="divider d-block d-lg-none">
            </div>
            
            <div class="col-lg-6 col-12 latest-container  align-items-enter"> 
              <div class="latest-posts title-lower">LATEST POSTS <br></div> 
              

            
              <div id="latest-posts" class="d-flex justify-content-center">
                <a href="/blogs/<%=mainblogs[mainblogs.length-1]._id%>"><div class="image">
                  <div class="card-container-footer">
                    <div class="image-holder"  style="background-image:url(<%=mainblogs[mainblogs.length-1].image%>)" >
                    </div>  
                  </div>
                </div>
                <div class="description d-flex m=0">
                  <span class="info"><%=(mainblogs[mainblogs.length-1].description).substring(0,70)%>..</span> 
                </div>
                </a>
              </div>
              
              <div id="latest-posts" class="d-flex justify-content-center">
                <a href="/blogs/<%=mainblogs[mainblogs.length-2]._id%>"><div class="image">
                  <div class="card-container-footer">
                    <div class="image-holder"  style="background-image:url(<%=mainblogs[mainblogs.length-2].image%>)" >
                    </div>  
                  </div>
                </div>
                <div class="description d-flex m=0">
                  <span class="info"><%=(mainblogs[mainblogs.length-2].description).substring(0,70)%>..</span> 
                </div>
                </a>
              </div>
				
 			 <div id="latest-posts" class="d-flex justify-content-center">
                <a href="/blogs/<%=mainblogs[mainblogs.length-3]._id%>"><div class="image last">
                  <div class="card-container-footer">
                    <div class="image-holder"  style="background-image:url(<%=mainblogs[mainblogs.length-3].image%>)" >
                    </div>  
                  </div>
                </div>
                <div class="description last d-flex m=0">
                  <span class="info"><%=(mainblogs[mainblogs.length-3].description).substring(0,70)%>..</span> 
                </div>
                </a>
              </div>
				
              <hr class="divider d-block d-lg-none">
            </div>
            <div class="col-lg-3 col-12 hyperlinks">
              <div>
                <div class="row d-flex side-tags align-item-center">
                  <div class="col-12">
                    <div class="title-lower"> CONTACT <br>
                      <a class="info" href="#">freddymerlin258@gmail.com</a><br>
                      <span class="info">+91 999 9999999</span>
                    </div> 
                  </div>
                  
                  <div class="col-12">
                    
                    <div class="title-links"> CONTRIBUTE <br></div>
                    <div class="title-links"> ADVERTISE <br></div>
                    <div class="title-links">FEEDBACK<br></div>
                    <hr class="divider d-block d-lg-none">
                  </div>
                  
                </div>
                
              </div> 
            </div>
          </div>
        </footer>
    </body>
</html>