<%- include("./partials/header") %>
        

                <div class=" d-flex justify-content-center">
                  <div class="main-title">
                    <h1 class="text-center"> P
                      <svg id="smiles" viewbox="0 0 10 10">
                        <circle class="smile" cx="5" cy="5" r="4" stroke-dashoffset="-.5" stroke-dasharray="11.5,13.6327" />
                        <circle class="eyes" cx="5" cy="5" r="4" stroke-dashoffset="-15.5" stroke-dasharray="0,6.6327,0,17.5" />
                      </svg>
                    sitiveGasms </h1>
                    <div><h3 class="text-center">Your daily dose of <span class="">optimism.</span></h3></div>
                  </div>
                  
                </div>
                
                <hr>
                <div class="intro">
                  <h3 class="color text-center ">Hello! </h3>
                  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span class="color">Adipisci</span> cum magnam corporis qui optio, itaque praesentium nemo blanditiis id <span class="color"> exercitationem</span> iure voluptatem! Ipsa eveniet atque perspiciatis esse nostrum <span class="color">temporibus</span> et?</p>
                </div>
          
                <div class="row d-flex">
                  <div class="col-lg-8 col-12 main-blog ">
                    <div class="main-content" style="background-image:url(<%=blogs[5].image%>)">
                      <div class="lower-info">
                        <a  href="/blogs/sorted/<%=blogs[5].category%>" ><button type="button" class="btn btn category <%=blogs[5].category%> btn-sm"><%=blogs[5].category%></button></a>
                        <h3><%=blogs[5].title%> </h3>
                        <p> <%=blogs[5].created%> </p>
                      </div>
                      <a href="/blogs/<%=blogs[5]._id%>"> <i class="fas fa-arrow-circle-right"></i> </a>
                    </div>
                    
                  </div>
                  <div class="col-lg-4 col-12 p-0">
                    <div class="col-12 side-blog">
                      <div class="main-content" style="background-image:url(<%=blogs[1].image%>)">
                        <div class="lower-info">
                          <a  href="/blogs/sorted/<%=blogs[1].category%>" ><button type="button" class="btn btn category <%=blogs[1].category%> btn-sm"><%=blogs[1].category%></button></a>
                          <h3> <%=blogs[1].title%> </h3>
                          <p> <%=blogs[1].created%> </p>
                        </div>
                        <a href="/blogs/<%=blogs[1]._id%>"> <i class="fas fa-arrow-circle-right"></i> </a>
                      </div>
                    
                    </div>
                    <div class="col-12 side-blog">
                      <div class="main-content" style="background-image:url(<%=blogs[4].image%>)">
                        <div class="lower-info">
                          <a  href="/blogs/sorted/<%=blogs[4].category%>" ><button type="button" class="btn btn category <%=blogs[4].category%> btn-sm"><%=blogs[4].category%></button></a>
                          <h3> <%=blogs[4].title%> </h3>
                          <p> <%=blogs[4].created%> </p>
                        </div>
                        <a href="/blogs/<%=blogs[4]._id%>"> <i class="fas fa-arrow-circle-right"></i> </a>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
                <hr> 

                
                
                <div class="row d-flex sub-class m-0 p-0 flex-md-wrap">
                  <div class="col-xl-8 col-12 p-0">
                    <div class="row small-blogs d-flex">
                      <div class="col-12 heading" > <h3>Top posts</h3>  </div>
						
					  <% for(let i=0; i<8; i++){%>
							<% let blogNumber = 0; %>
							<% if(i==0){blogNumber = 0;} %>
							<% if(i==1){blogNumber = 1;} %>
							<% if(i==2){blogNumber = 2;} %>
							<% if(i==3){blogNumber = 3;} %>
							<% if(i==4){blogNumber = 4;} %>
							<% if(i==5){blogNumber = 5;} %>
							<% if(i==6){blogNumber = 6;} %>
							<% if(i==7){blogNumber = 7;} %>
							<div class="col-md-4 col-sm-6 col-12">
								<a href="/blogs/<%=blogs[blogNumber]._id%>">
									<div class="card-container">
									  <div class="image-holder"  style="background-image:url(<%=blogs[blogNumber].image%>)" >
									</div>  
									</div>
									<div class="small-blog-title underlined underlined--thick"><%=blogs[blogNumber].title%></div>
								</a>
							</div>
					  <% }	%>
                      

                     
                      <div class="col-md-4 col-sm-6 d-sm-none d-md-block col-12"> 
                        <a href="/blogs/<%=blogs[9]._id%>">
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(<%=blogs[9].image%>)" >
                          </div>  
                        </div>
							
							
                        
                        <div class="small-blog-title underlined underlined--thick"><%=blogs[9].title%></div>
                        </a>
                      </div>
                    </div>

                  
                  </div>

                  <div class="col-xl-4 col-12 side-bar">
                    <div class="categories-sidebar">
                      <div class="col-12 heading" > <h3>Categories</h3></div>
                      <div>
                        <ul>
                            <li class="list d-flex justify-content-between align-items-center"><a href="/blogs/sorted/superheroes">
                            Superheroes</a>
                            <a href="/blogs/sorted/superheroes"><span class="badge badge-dark badge-pill"><%=superheroesCount%></span></a>
                           </li>
							<li class="list d-flex justify-content-between align-items-center"><a href="/blogs/sorted/travel">
                            Travel</a>
                            <a href="/blogs/sorted/travel"><span class="badge badge-dark badge-pill"><%=travelCount%></span></a>
                           </li>
							<li class="list d-flex justify-content-between align-items-center"><a href="/blogs/sorted/entertainment">
                            Entertainment</a>
                            <a href="/blogs/sorted/entertainment"><span class="badge badge-dark badge-pill"><%=entertainmentCount%></span></a>
                           </li>
							<li class="list d-flex justify-content-between align-items-center"><a href="/blogs/sorted/food">
							Food</a>
                            <a href="/blogs/sorted/food"><span class="badge badge-dark badge-pill"><%=foodCount%></span></a>
                           </li>
							<li class="list d-flex justify-content-between align-items-center"><a href="/blogs/sorted/health">
							Health</a>
                            <a href="/blogs/sorted/health"><span class="badge badge-dark badge-pill"><%=healthCount%></span></a>
                           </li>
							<li class="list d-flex justify-content-between align-items-center"><a href="/blogs/sorted/lifestyle">
							Lifestyle</a>
                            <a href="/blogs/sorted/lifestyle"><span class="badge badge-dark badge-pill"><%=lifestyleCount%></span></a>
                           </li>
							
                          
                        </ul>
                      </div>
                    </div>
                    <div class="promotions-ads d-flex text-center justify-content-center align-items-center"  style="background-image:url(https://cdn.shopify.com/s/files/1/2278/2351/products/W1151_GeometricPattern3_1024x1024.jpg?v=1510704914)"> 
                      <h3 class="text-center"><strong> Ads ke liye placeholder</strong></h3>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div style="margin: 0 auto; width: 390px;" class="plugin-fb">
                        <div class="fb-page" data-href="https://www.facebook.com/CYI2019/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CYI2019/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CYI2019/">Vrikshit foundation</a></blockquote></div>
                      </div>
                    </div>
                  </div>


                </div>

				<hr>

               <div class="row get-connected d-flex text-center align-items-center justify-content-center">
                <div class="col-lg-4 col-12"><h3 class="display-6">Want more?*</h3></div>
                <div class="col-lg-4 col-12">Odit impedit at vitae veritatis dolore, eius facilis saepe autem perferendis, exercitationem fugit!</div>
                <div class="col-lg-4 col-12">
                  
                  <form action="https://gmail.us10.list-manage.com/subscribe/post?u=d9524db83f24073669e0ce898&amp;id=f6a7f080c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
                    <div class="form" id="mc_embed_signup_scroll">
                      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
                      <button  type="submit"><i class="far fa-paper-plane"></i></button>
                    </div>
                  </form>

                
                      
                 </div>
              
               </div>
                  
                  <hr>

            
<%- include("./partials/footer",{blogs:"blogs"}) %>